@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  @apply h-full m-0 p-0;
}

@layer base {
  :root  {
    --background: 0 34% 99%;
    --foreground: 0 5% 10%;
    --card: 0 34% 99%;
    --card-foreground: 0 5% 15%;
    --popover: 0 34% 99%;
    --popover-foreground: 0 95% 10%;
    --primary: 0 83% 59%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 30% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: -38 30% 95%;
    --muted-foreground: 0 5% 40%;
    --accent: -38 30% 90%;
    --accent-foreground: 0 5% 15%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 0 5% 99%;
    --border: 0 30% 82%;
    --input: 0 0% 50%;
    --ring: 0 30% 59%;
    --radius: 0.5rem;
  }
  .dark  {
    --background: 0 14% 8%;
    --foreground: 0 5% 90%;
    --card: 0 14% 8%;
    --card-foreground: 0 5% 90%;
    --popover: 0 14% 5%;
    --popover-foreground: 0 5% 90%;
    --primary: 0 82.8% 59%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 14% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: -38 14% 15%;
    --muted-foreground: 0 5% 60%;
    --accent: -38 14% 15%;
    --accent-foreground: 0 5% 90%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 0 5% 90%;
    --border: 0 20% 18%;
    --input: 0 20% 18%;
    --ring: 0 82.8% 59%;
    --radius: 0.5rem;
  } 

}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}