@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  @apply h-full m-0 p-0;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;
    --card: 222 100% 98.04%;
    --card-foreground: 240 6.67% 2.94%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.92%;
    --primary: 4.56 100% 66.47%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 4.76% 95.88%;
    --secondary-foreground: 240 5.88% 10%;
    --muted: 240 4.76% 95.88%;
    --muted-foreground: 240 3.83% 46.08%;
    --accent: 240 4.76% 95.88%;
    --accent-foreground: 240 5.88% 10%;
    --destructive: 0 72% 50.98%;
    --destructive-foreground: 0 0% 98.04%;
    --border: 240 5.88% 90%;
    --input: 268.24 42.5% 84.31%;
    --ring: 240 5.03% 64.9%;
    --radius: 0.5rem;
    --warmup: 46 100% 50%;
    --rest-pause: 210 85% 65%;
    --drop-set: 320 100% 55%;
    --failure-set: 0 65% 60%;
  }
  .dark {
    --background: 0 11% 10%;
    --foreground: 0 5% 90%;
    --card: 0 11% 10%;
    --card-foreground: 0 5% 90%;
    --popover: 0 11% 5%;
    --popover-foreground: 0 5% 90%;
    --primary: 0 66.5% 60.2%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 11% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: -38 11% 24%;
    --muted-foreground: 0 5% 60%;
    --accent: -38 11% 24%;
    --accent-foreground: 0 5% 90%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 0 5% 90%;
    --border: 0 20% 24%;
    --input: 0 20% 24%;
    --ring: 0 66.5% 60.2%;
    --radius: 0.5rem;
    --warmup: 46 100% 50%;
    --rest-pause: 210 85% 65%;
    --drop-set: 320 100% 55%;
    --failure-set: 0 65% 60%;
   } 
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}